@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
/*font-size: 20px;*/
}
.div:hover{
    transform:scale(1.1)
}
.div{
    transition: 0.2s;
}
.nav-links li a:hover{
    border-bottom: 1px solid white;
}
.nav-links li a{
    transition: 0.2s;
    border-bottom: 1px solid transparent;
}
body{
    background-color: #ffffff;
}

.imgIndex{
   width: 100%;
}

body.galeria{
    background-image: url(../imagenes/bk.jpg);
    background-repeat: repeat;
}

.header{
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
    width: 100%;
}

header img{
    height: 70px;
    width: auto;
}

header .nav-links li{
    display: inline-block;
    padding: 0 20px;
    list-style: none;
}

.headerMobile{
    display: none;
}

a{
    text-decoration: none;
    color: #ffffff;
}

h1{
    text-align: center;
}

.h1Mobile{
    display: none;
}

.h2Mobile{
    display: none;
}

.h3Mobile{
    display: none;
}

.sobre{
    margin: 50px;
    font-size: 30px;
}

.infoSobre{
   text-align: center;
   margin: 20px;
}

hr{
    margin: 45px;
}

.reseñas{
    text-align: center;
    font-size: larger;
    margin: 80px;
}

div.productos img{
border: 1px solid black;
}
 
.productos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.productos section{
    display: flex;
    flex-wrap: wrap;
    width: 100vh;
    margin-bottom: 50px;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px;
}

.gal img{
    height: 1200px;
    width: 50vh;
}

.imgs{
    width: 50%;
}

div .imgs{
    display: flex;
    flex-direction: column;
}

#superman{
    width: 100%;
}

.imgsfp img{
    width: 100%;
}
.imgs{
    width: 100%;
}
.imgsfp{
    display: flex;
    gap: 10px;
}

.galeriaVideo{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.tienda{
    display: flex;
    flex-direction: row;
}

.checkBox{
    height:80vh;
    width: 25%; 
    position: sticky;
    top: 10px;
}

.tiendaProductos{
    width: 100%;
    height: 150vh;
    display: flex;
    justify-content: left;
}
.tiendaProductos img{
    margin: 25px;
}

.tiendaProductos p{
text-align: left;
margin: 10px;
}

.checkBox p{
    text-align: center;
    margin: 60px;
}

.buscador{
    color: #ffffff;
}

footer{
    background-color: #202020;
    width:100% ;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gapContainer{
    display: none;
}
    
/*Footer*/
footer img{
    height: 80px; 
}
    
footer p{
    color: white;
    text-align: right;   
}

.mapaFooter{
    display: flex;
    align-items: center;
}

.logoFooter{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoFooter img{
    height: 25vh;

}

.contactoFooter{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding-right: 20px;
}
 


/* Lista mobile*/
@media (max-width:600px) {

/*Index*/
    .header{
        display: none;
    }
   
    .headerMobile{
        display: block;
        margin: 65px;
        background-color:#202020
    }
    .headerMobile nav div{
        background-color:#202020;
        color: white;
    }
    .headerMobile nav div ul li a{
        background-color:#202020;
        color: white;
    }
    nav.bg-body-tertiary{
        background-color:#252525!important
    }
    button.navbar-toggler{
        background-color:rgba(255, 255, 255, 0.283);
    }
    button.btn-outline-success{
        color: gray;
        border:1px solid gray;
    }
    .h1Index{
        display: none;
    }
    .imgIndex{
        display: none;
    }
    .h1Mobile{
        display: block;
        text-align: center;
        font-size: 35px;
        padding-top: 60px;
    }
    .h2Mobile{
        display: block;
        font-size: 20px;
        text-align: center;
    }
    .h3Mobile{
        display: block;
        border: 1px solid rgb(61, 60, 60);
        border-radius: 8px;
        width: max-content;
            
    }

/* Galeria*/
    .gal1{
        height: 38vh;
        align-self: center;
        width: 20vh;
    }
    .gal2{
        height:19vh;
        width: 19vh;
    }
    .gal3{
        width: 40vh;
        height: auto;
        margin: 10px 0 10px 0;
    }
    .gal4{
        width:19vh ;
    }
    .galeriaDesktop{
        display: none;
    }
    .gapContainer{
        display: block;
        padding-top: 80px;
        padding-bottom: 40px;
    }

/* Footer*/
    .mapaFooter{
        display: none;
    }
    Footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contactoFooter{
        align-items: center;
        border-top: 1px solid gray;
        padding-top: 24px;
    }
}